body {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: 500 !important;
}

.navbar {
    padding: 3rem;
}

.navbar-nav {
    width: 100%;
}

.box {
    width: 100%;
    height: 600px;
    margin-top: 25px;
}

.black {
    background: #000000;
}

.white-text {
    color: #FFFFFF;
}

.typewriter-text-align {
    float: right;
    margin-right: 4rem;
}

.max-width {
    max-width: 100%;
}

.no_border_button {
    cursor: pointer;
    /*border: none;*/
}

.nav-item {
    text-align: center;
}

.center-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-text{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*Gallery*/
/*@import url('https://fonts.googleapis.com/css?family=Lobster');*/



/* Gallery */

.gallery {
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.gallery h1 {
    display: inline-block;
    font-size: 2.2em;
    padding: 10px;
    color: #333;
}

.gallery ol {
    list-style: none;
    width: inherit;
    padding: 0px;
}

.gallery li {
    position: relative;
    width: inherit;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


.gallery li:nth-child(1) {
    background-image: url(../img/uniwheel.png);
    /*background-size: 120%;*/
    /*background-position: 0px;*/
}

.gallery li:nth-child(2) {
    background-image: url(https://cdn.instructables.com/FAD/IY6Y/JIOUEE5Y/FADIY6YJIOUEE5Y.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds);
    /*background-size: 120%;*/
    /*background-position: -40px;*/
}

.gallery li:nth-child(3) {
    background-image: url(https://cdn.instructables.com/FBS/E9JH/IVO3IEIL/FBSE9JHIVO3IEIL.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds);
	/*background-size: 120%;*/
	background-position: 0px;
}

.gallery li:nth-child(4) {
    background-image: url(https://cdn.instructables.com/FKR/WDS9/IEKJ6FY2/FKRWDS9IEKJ6FY2.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds);
}

.gallery li:nth-child(5) {
    background-image: url(https://cdn.instructables.com/FKJ/2FGA/I78VRH2R/FKJ2FGAI78VRH2R.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds);
    background-position: 0px;

}

.gallery li:nth-child(6) {
    background-image: url(https://cdn.instructables.com/FVY/TO7U/IHZ4SHA9/FVYTO7UIHZ4SHA9.LARGE.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds);
    background-position: 0px;
}

.gallery a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.info {
    position: absolute;
    bottom: 0;
    padding: 10px 15px; 0 auto;
    color: #ffffff;
}

.info h3 {
    font-size: 1.5em;
}

.info p {
    font-size: 0.9em;
}

.logo_image {
    display: inline;
}


@media screen and (max-width: 846px) {
    .logo_image {
        display: none;
    }

    .typewriter-text-align {
        text-align: center;
        width: 100%;
        margin: auto !important;
        margin-top: 100px !important;
    }
    .typewriter-text-align h1, h2{
        font-size: 2em;
    }
    .resize_box{
        height: 400px;
    }
}


@media screen and (min-width: 620px) {
    .gallery li {
        float: left;
        height: 400px;
        width: 50%;
    }
    
}




@media screen and (min-width: 800px) {

    .gallery li:hover  {
        /*Lift up effect*/
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 5;
    }

    .gallery a {
        -webkit-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }

    .gallery a:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .info h3 {
        font-size: 1.2em;
    }
}

*/